In [29]:
import pandas as pd

import numpy as np

In [ ]:
car_data = pd.read_csv('./vehicles_us.csv')

In [ ]:
print(car_data.head())

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [ ]:
print(car_data['price'].max())

375000

In [ ]:
print(car_data['price'].min())

1

In [ ]:
price_filter = car_data.groupby('model')['price']

print(price_filter.head(10))

0         9400
1        25500
2         5500
3         1500
4        14900
         ...
4681     34900
5681     34900
8975     34900
10600    34900
11541    34900
Name: price, Length: 1000, dtype: int64