In [40]:
import pandas as pd

import numpy as np

In [41]:
car_data = pd.read_csv('/Users/PaulaTrujilloSanchez/Desktop/Data_Science/Notebooks/sprint_5_project/vehicles_us.csv')

In [42]:
print(car_data.head())

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [43]:
print(car_data['price'].max())

375000

In [44]:
print(car_data['price'].min())

1

In [45]:
price_filter = car_data.groupby('model')['price']

print(price_filter.head(10))

0         9400
1        25500
2         5500
3         1500
4        14900
         ...
4681     34900
5681     34900
8975     34900
10600    34900
11541    34900
Name: price, Length: 1000, dtype: int64

In [46]:
chart_data = car_data.groupby(['model', 'condition'])['condition'].count()

print(chart_data.head())

model     condition
acura tl  excellent    105
          fair           9
          good          98
          like new      24
bmw x5    excellent    160
Name: condition, dtype: int64

In [47]:
print(car_data['model_year'].max())

2019.0

In [48]:
print(car_data['model_year'].min())

1908.0

In [49]:
car_data.dtypes

price             int64
model_year      float64
model            object
condition        object
cylinders       float64
fuel             object
odometer        float64
transmission     object
type             object
paint_color      object
is_4wd          float64
date_posted      object
days_listed       int64
dtype: object